.footer_wrapper {
    background-color: black;
    position: relative;
    height: 400px;
    color: white;
}
.links_wrapper {
    display: flex;
    padding-top: 40px;
    margin-left: 100px;
}

.second_wrapper {
    position: absolute;
    width: 100%;
    bottom: 80px;
    padding: 0 35px;
}

.third_row {
    position: absolute;
    width: 100%;
    bottom: 10px;
    padding: 0 20px;
}

.copyright {
    align-self: center;
    color: #909ea2;
    font-family: 'Poppins', sans-serif;
}
.hr_style {
    position: absolute;
    bottom: 50px;
    width: 100%;
    padding: 0 15px;
}
.input_title {
    align-self: center;
    color: #c5fbd8;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.input_btn {
    background: #f4bd4f;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 12px !important;
    margin-left: 5px;
}
.input_btn:hover {
    color: white !important;
}

.links_header {
    color: #c5fbd8;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: left;
}

.links {
    color: white;
}
.links:hover {
    color: #c5fbd8;
}

.hr {
    border-color: #346769;
}

.links_col {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
}

@media (max-width: 767px) {
    .footer_gutter {
        margin: 0 !important;
    }
    .footer_gutter .links_header_about {
        padding: 0 !important;
    }
    .footer_wrapper {
        height: 470px;
    }
    .input_title {
        text-align: center;
        margin-bottom: 10px;
        font-size: 12px;
    }
    .copyright {
        visibility: hidden;
    }
    .links_wrapper {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        align-items: baseline;
        padding-top: 10px;
        grid-row-gap: 20px;
        margin: 0;
    }
    .links_header {
        font-size: 10px;
        margin-top: 5px;
        white-space: nowrap;
    }
    .input_title {
        font-size: 10px;
    }
    .links {
        font-size: 6px;
    }
    .links_header_about {
        margin-top: 15px;
    }
    .links_col {
        margin: 0;
    }
}
