.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.img_container {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(9, 9, 9, 0.5);
    pointer-events: none;
}

.row_wrapper {
    position: relative;
    top: 40px;
}

.hero_title_yellow {
    color: #f5b963;
    margin-left: 10px;
}
.hero_caption {
    position: absolute;
    color: white;
    font-size: 16px;
    line-height: 28px;
    font-family: 'Poppins', sans-serif;
    top: 200px;
    left: 80px;
}
.hero_title {
    position: absolute;
    color: white;
    font-size: 44px;
    font-family: 'Source Serif 4', serif;
    top: 30px;
    left: 80px;
}
.down_btn {
    display: none;
}
@media (max-width: 767px) {
    .container {
        height: 100vh;
    }
    .img_container {
        position: absolute;
        z-index: -1;
        height: 100vh;
        justify-content: center;
    }
    .hero_title {
        font-size: 16px;
        left: 30px;
        top: 100px;
    }
    .hero_caption {
        font-size: 10px;
        line-height: 14px;
        top: 170px;
        left: 30px;
    }

    .hero_img {
        width: 100%;
        object-fit: cover;
    }
    .down_btn {
        display: block;
        background: #c5c5c557;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        user-select: none;
        color: white !important;
    }
    .down_btn:focus {
        border: 1px solid white !important;
        color: white !important;
    }
}

@media (min-width: 767px) {
    .img_container {
        position: absolute;
        z-index: -1;
    }
    .container {
        height: 500px;
    }
    .hero_img {
        width: 100%;
        object-fit: cover;
    }
}

@media (min-width: 1200px) {
    .img_container {
        width: 100%;
    }
    .overlay {
        display: block;
    }
    .hero_img {
        width: 100%;
        object-fit: cover;
    }
}
