.container {
    width: 100%;
    height: 500px;
    position: relative;
}

.img_container {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: black;
}

.gradient {
    position: absolute;
    z-index: 2;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 1) 45%,
        rgba(69, 68, 68, 0) 100%
    );
    height: 500px;
}

.row_wrapper {
    position: relative;
    top: 40px;
}

.hero_title_yellow {
    color: #f5b963;
    margin-left: 10px;
}
.hero_caption {
    position: absolute;
    color: white;
    font-size: 16px;
    line-height: 28px;
    font-family: 'Poppins', sans-serif;
    top: 200px;
    left: 80px;
}
.hero_title {
    position: absolute;
    color: white;
    font-size: 44px;
    font-family: 'Source Serif 4', serif;
    top: 30px;
    left: 80px;
}

@media (max-width: 767px) {
    .container {
        height: 200px;
    }
    .gradient {
        height: 200px;
        z-index: -1;
        width: 80%;
    }
    .img_container {
        height: 200px;
        position: absolute;
        z-index: -1;
    }
    .row_wrapper {
        top: 0;
    }
    .hero_title {
        font-size: 16px;
        left: 30px;
    }
    .hero_caption {
        font-size: 8px;
        line-height: 14px;
        top: 90px;
        left: 30px;
    }
    .gradient {
        background: linear-gradient(
            to right,
            rgba(0, 0, 0, 1) 15%,
            rgba(69, 68, 68, 0) 100%
        );
    }
}

@media (min-width: 767px) {
    .gradient {
        z-index: -1;
        width: 50%;
    }
    .img_container {
        position: absolute;
        z-index: -1;
    }
}
