.cabin_btn {
    margin-left: 5px;
    background: #233d2c;
    color: white;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.cabin_btn:hover {
    color: #f5b963 !important;
}