.cabin_title {
    margin: 0 80px;
}
.cabin_title h2 {
    font-family: 'Source Serif 4', serif;
}
.cabin_link_wrapper {
    text-align: center;
    margin: 20px 80px;
}

.link_title {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    color: #47475f;
}
.link {
    text-align: right;
    font-family: 'Poppins', sans-serif;
}
.link a {
    color: black;
    border-bottom: 1px solid black;
}
.link a:hover {
    color: grey;
}

.discover {
    border-bottom: 2px solid #f5b963;
    margin-right: 5px;
}
.cabin_title h4 {
    font-size: 16px;
}

@media (max-width: 767px) {
    .cabin_title {
        margin: 0 10px;
        padding-top: 30px;
        text-align: center;
    }

    .cabin_link_wrapper {
        margin: 10px;
        justify-content: center;
    }
    .link {
        white-space: nowrap;
        font-size: 12px;
        text-align: center;
    }
    .link_col {
        display: none;
    }
    .discover {
        border-bottom: none;
    }
}

@media (min-width: 768px) {
    .cabin_title {
        margin: 0 40px;
        padding-top: 40px;
    }
    .cabin_link_wrapper {
        margin: 20px 40px;
    }
}

@media (min-width: 992px) {
    .cabin_title {
        margin: 0 80px 30px;
        padding-top: 40px;
    }
    .cabin_link_wrapper {
        margin: 20px 80px;
    }
}
